---
// export const prerender = true;
import Footer from "@/components/home/Footer.astro";
import Layout from "../layouts/Layout.astro";
import Description from "@/components/kertas/Description.astro";
import Main from "@/components/kertas/Main.astro";

---
<Layout title="product">
    <main>
        <Description/>
        <Main/>
        <Footer/>
    </main>
</Layout>