---
import { getFaq, getWhatsapp } from "@/helpers/rajaKertas";
import FaqCom from '../Faq'
import ButtonBeli from "../ButtonBeli";
const response = await getFaq()
const resWhatsapp = await getWhatsapp()

---

<section class="bg-white text-black pt-20 px-4 grid grid-cols-1 lg:grid-cols-3 lg:space-x-20 space-y-2 lg:px-10">
<div class="flex space-y-6 flex-col col-span-1 mb-10">
    <h2 class="text-6xl font-bold">{response.value.title}</h2>
    <p>
      Temukan jawaban atas pertanyaan yang sering diajukan tentang produk
      dan layanan kami.
    </p>
    <div class="w-1/2">
      <ButtonBeli client:load title="Hubungi Kami" response={resWhatsapp}/>
    </div>
   

  </div>
  <div class="col-span-2">
   <FaqCom client:load list={response.value.list} />
  </div>
</section>