---
import FormCom from "./Form"


---

<section class="grid grid-cols-1 lg:grid-cols-2 pb-20 md:pb-24 lg:pb-28 justify-center items-center">
    <div class="p-10 ">
        <iframe
          class="h-[300px] sm:h-[450px] md:h-[600px] lg:h-[450px] xl:h-[600px] w-full"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.187538790804!2d106.66909917975539!3d-6.369771345838335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69e4349a9a9891%3A0x2be9f0a6efd082c8!2sJl.%20Gotong%20Royong%20No.268%2C%20Pabuaran%2C%20Kec.%20Gn.%20Sindur%2C%20Kabupaten%20Bogor%2C%20Jawa%20Barat%2016340!5e0!3m2!1sen!2sid!4v1717926114662!5m2!1sen!2sid"
          width="0"
          height="0"
        allowfullscreen
          loading="eager"
        ></iframe>
      </div>
      <div class="px-10 flex items-center justify-center mb-4">
        <FormCom client:load/>
      </div>

 
    
</section>